user name: <input type="text" [(ngModel)] = 'username'>
<button (click) = "serach()">search</button>

<div *ngIf="response">
    <!-- recipe -->
    <div *ngFor='let r of response.hits'>
        <h1>{{ response.hits[0].recipe.label }}</h1>
        <ul *ngFor='let i of r.recipe.ingredientLines'>
            <li>{{i}}</li>
        </ul>
        <hr>
        <ul *ngFor="let i of r.recipe.ingredients">
            <li>food:{{i.text}} weight: {{i.weight}}</li>
        </ul>
        <img style="border-radius: 50%" src="{{r.recipe.image}}" alt=""><hr>
    </div>
<!-- weather -->
<!-- <h1>{{ response.sys.country }}</h1>
<h2>{{ response.name }}</h2>
<img src="http://openweathermap.org/img/w/10d{{response.weather.icon}}.png" alt=""><hr>
    <a href="{{response.blog}}">blog</a>
    <h1>{{response.main.temp}}:deg</h1>
    <h3><i>Email: {{ response.weather[0].main}}</i></h3>
    <p>Bio: {{ response.bio }}</p> -->
</div>